body{
    background-color: rgb(28, 28, 28);
}

section{
    width: 100%;
    height: 90vh;
    
}
.section-grid{
    display: grid;
    gap: 0.3vw;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    padding-block: 1rem;
    width: min(88%,170vw);
    height: min(100%,100vw);
    margin-inline: auto;
    border: 2px solid rgb(252, 79, 79);
  }

article{
    border: 2px solid rgb(0,0,0);
}

two{
    height: 90vh;
}
.Home{
    font-family:JetBrains Mono, monospace;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
}
.Slogan{
    font-size: 0.9 rem;
    color: rgb(255, 255, 255);
    text-align: center;
}
h1{
    color: rgb(252, 79, 79);
    font-size: 5rem;
    text-align: center;
  
}
.Title{
    grid-column-start:1 ;
    grid-column-end:10 ;
    grid-row-start: 1;
    grid-row-end: 4 ;
    /*box-shadow: 3px 2px 4px 2px rgba(0, 0, 0, 0.116);*/
    text-align: center;
   
    border: 2px solid rgb(252, 79, 79);
  }

.Description{
    grid-column-start:1 ;
    grid-column-end:6 ;
    grid-row-start: 4;
    grid-row-end: 10 ;
    /*box-shadow: 3px 2px 4px 2px rgba(0, 0, 0, 0.116);*/
    text-align: Left;
   
    border: 2px solid rgb(252, 79, 79);
}
.Introduction{
    margin-left: auto;
    margin-right: auto;
    width: 73%;
    margin-top: 6%;
}

.Review{
   display: inline-flex;
   float: right; 
   
}

.Subtitle {
    font-size: clamp(2rem, 5vw, 3rem);
    margin: 0;
    padding-left: 10;
    color: rgb(252, 79, 79);
}

.KnowParagraph{
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    color:rgb(255,255,255)
}

.Ratings{
    opacity: 0.6;
    max-width: 100%;
    max-height: 100%;
    float: right;
}

.Coloured {
    color: rgb(252, 79, 79);
}

.Location{
    width: 100%;
    margin-top: 9%;
    height: 30%;
    Text-align: right;
    background-color:rgb(252, 79, 79) ;   
    padding-right: 14%; 
    color: white;
    object-fit: contain;
}





.LondonImg{
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
    mix-blend-mode: multiply;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: ;
    float: left;
}

